<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Manager</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="#">
            <img src="emoji_emotions.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <div style="color:white; margin:auto;"><h1>User Manager</h1></div>
    </nav>

    <div th:if="${emailUsed}" class="alert alert-warning" style="text-align:center;">
        <h3 th:text="${emailUsed}"></h3>
    </div>

    <div th:if="${updateMessage}" class="alert alert-danger" style="text-align:center;">
        <h3 th:text="${updateMessage}"></h3>
    </div>

    <div th:if="${addMessage}" class="alert alert-success" style="text-align:center;">
        <h3 th:text="${addMessage}"></h3>
    </div>

    <div th:if="${deleteMessage}" class="alert alert-danger" style="text-align:center;">
        <h3 th:text="${deleteMessage}"></h3>
    </div>

    <div class="container-fluid text-center" style="padding: 50px;">
        <div style="margin-right:91.5%; margin-bottom: 5px;"><a th:href="@{users/new}" class="btn btn-success btn-lg"> Add User </a></div>
        <div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                <th:block th:each="user : ${listUsers}">
                    <tr>
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <a th:href="@{'users/update/' + ${user.id}}" class="btn btn-info">Update</a>
                            <a th:href="@{'users/delete/' + ${user.id}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>